<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ bos }}">
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<title>Поддержка</title>
</head>
<body>
    <div><a href="../" class="idBack">НАЗАД</a></div>
    <section>
        <h2>Если у Вас возникли вопросы – напишите нам!</h2>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="form">
                    <form  action="" method="post">
                        {{ form2.hidden_tag() }}
                        <label for="fname">Имя *</label>
                        {{ form2.name(class="form2-control", type="text", placeholder="Ваше имя", required=True) }}<br>
                        {% for error in form2.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}

                        <label for="lname">Фамилия *</label>
                        {{ form2.surname(class="form2-control", type="text", placeholder="Ваша фамилия", required=True) }}<br>
                        {% for error in form2.surname.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}

                        <label for="email">Электронная почта *</label>
                        {{ form2.email(class="form2-control", type="email", placeholder="Адрес Вашей электронной почты", required=True) }}<br>
                        {% for error in form2.email.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}

                        <label for="subject">Тема обращения *</label>
                        {{ form2.subject(class="form2-control", type="text", placeholder="Тема", required=True) }}<br>
                        {% for error in form2.subject.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}

                        <label for="problem">Обращение</label>
                        {{ form2.problem(class="form2-control", placeholder="Введите Ваш вопрос", required=True) }}<br>
                        {% for error in form2.problem.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                        <!-- <textarea id="problem" name="problem" placeholder="Введите Ваш вопрос"></textarea> -->

                        {{ form2.submit(type="submit", class="btn btn-primary", value="Отправить")}}
                    </form>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </section>
</body>
</html>